form {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 35px;
  background-color: aqua;
  border: 1px solid aqua;
  border-radius: 10px;
  flex-wrap: wrap;
}

form select {
  border: none;
  width: 220px;
  height: 22px;
  font-weight: 700;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}

.card {
  width: 350px;
  height: 400px;
  background-color: yellowgreen;
  border: 5px solid yellowgreen;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card img {
  width: 60%;
  height: 50%;
  border-radius: 15px;
}

.card h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.card div {
  margin-top: 5px;
  margin-bottom: 5px;
}
.card .title {
  font-weight: 700;
}

.card .description {
  font-size: 13px;
}

.card .rating {
  background-color: rgba(255, 255, 255, 0.602);
  padding: 1px 2px;
  border-radius: 10px;
}
